/* GENERAL */

*{
    padding: 0;
    margin: 0;
}
p{
    margin: 1%;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Work Sans', sans-serif; 
    color: white;
}




html, body{
    background-color: #7f1610;
    width: 100%;
    height: 100%;

}
a{
    text-decoration: none;
    color: inherit;
}

/* .texto{
    width: 30%;
    padding: 50px;
    border:10px;
    margin: 100px;
} */
header{
    background-color: #000000;
    display: flex;
    position: relative;
    /* top: 0px; */
}

.NavBar{
    background-color: #000000;
    height: 10%;
    width: 100%;
    padding: 4%;
    border: 0px;
    margin: 1%;
    /* margin: 0px 0px 10px 0px; */

}
ul.NavBarList{
    background-color: #070707;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start ;
    align-items: center;
    width: 150%;
    
}
.NavBar ul li{

    text-align:center;

    font-family: 'Source Code Pro', monospace;
    font-family: 'Work Sans', sans-serif;
    font-size: 170%;
    font-weight: 900;
    /* letter-spacing: 1%; */
    list-style-type: none;
    color: white; 
    
    padding: 0 3%;
}


main p{

    font-weight: 600;
    letter-spacing: 1%;
    font-size: 120%;
/*  width: 600px;
    padding: 20px;
    margin: 10px; */
}
h2{
    margin: 30px 0px 0px 70px;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Work Sans', sans-serif; 
    color: white;
    font-size: 50px;
    font-weight: 1800;
}

h3{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 75px;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Work Sans', sans-serif; 
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
}



footer{
    background-color: #000000;
    width: 100%;
    font-weight: 590;
    letter-spacing: 1px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-end;
}

article{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.SocialNets{
    padding-left: 15px;
}
footer p {
    padding-left: 10px;
}

/* INDEX */
.MainIndex{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.FlexIndex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.MainIndex p {
    width: 40%;
    padding: 2%;
    margin: 2%;
}

.MainIndex img{
    margin: 4%;
    border: 3px solid white;
    border-radius: 13px;
    width: 40%;
}





/* TIENDA */

.FlexGallery{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

.GalleryItem{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #e1e1e1; 
    width: 15%;
    height: 350;
    margin: 15px;
    border-radius: 13px;
}

.GalleryItem p {
    color: #000000;
    font-size: 19px;
    font-weight: bolder;
}


.MainTienda{
    display: flex;
    align-items: center;
}


/* FORMULA 1 */

.grid-container {
    padding: 10px;
    display: grid;
    padding: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 30px;
    align-content: center;
}


/* hover */
.location-listing {
    position: relative;
}

.location-image {
    line-height: 0;
    overflow: hidden;

}

.location-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
    width: 600px;
    height: 338px;
}


.location-title {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    font-weight: 1000;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;

    /* posiciona el texto en el medio*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-listing:hover .location-title {
    opacity: 1;
}

.location-listing:hover .location-image img {
    filter: blur(2px);
}


/* MARANELLO */

.Mapa{
    margin: 0px 0px 20px 70px;
}

/* CONTACTO */

.ContactForm{
    margin: 20px 85px 85px 85px;
}



/* INDEX RESPONSIVE */

@media screen and (max-width: 1250px) {
    ul.NavBarList{
        display:flex;
        flex-direction:column;
        align-items: center;
        margin: 10% 0 10% 0;
        width: 105%;
    }
    

    header{
        display: flex;
        justify-content: center;
    }

    .NavBar{
        padding: 0;
        margin: 0;
    }

    .FlexIndex{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .MainIndex {
        align-content: flex-start;
    }

    .MainIndex p{
        width: auto;
        font-size: 120%;
        align-content: flex-start;
    }

    .MainIndex img{
        width: 90%;
    }
    footer{
        align-items: center;
    }
    
}