/* GENERAL */
*{
    padding: 0;
    margin: 0;
    
}

/* TEXTOS */
p{
    margin: 1%;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Work Sans', sans-serif; 
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
}

h2{
    margin: 15px 0px 0px 70px;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Work Sans', sans-serif; 
    color: white;
    font-size: 50px;
    font-weight: 700;
}

h3{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 75px;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Work Sans', sans-serif; 
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
}


/* PONER FOOTER AL FONDO */
html, body{
    background-color: #7f1610;
    width: 100%;
    height: 100%;

}

.contenedorprincipal {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

/* NAVBAR */
header{
    background-color: #000000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
    font-size: 150%;
    font-weight: 450;
}
.navbar-brand img{
    margin: 10%;
}

.container-fluid{
    justify-content: center;
}
.nav-link{
    text-align: center;
}

/* MAIN */
main p{

    font-weight: 600;
    letter-spacing: 1%;
    font-size: 120%;
}

/* FOOTER */
footer{
    background-color: #000000;
    width: 100%;
    font-weight: 590;
    letter-spacing: 1px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;

}

.SocialNets{
    padding-left: 15px;
    display: flex;
    align-items: center;
}
footer p {
    padding-left: 10px;
}

/* INDEX */
.MainIndex{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.FlexIndex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.MainIndex p {
    width: 40%;
    padding: 2%;
    margin: 2%;
}

.MainIndex img{
    margin: 4%;
    border: 3px solid white;
    border-radius: 13px;
    width: 40%;
}

/* TIENDA */
.FlexGallery{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.GalleryItem{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #e1e1e1; 
    width: 15%;
    height: 350;
    margin: 15px;
    border-radius: 13px;
}

.GalleryItem p {
    color: #000000;
    font-size: 19px;
    font-weight: bolder;
}


.MainTienda{
    display: flex;
    align-items: center;
}

/* FORMULA 1 */
.grid-container {
    padding: 10px;
    display: grid;
    padding: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 30px;
    align-content: center;
}

/* hover */
.location-listing {
    position: relative;
}

.location-image {
    line-height: 0;
    overflow: hidden;

}

.location-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
    width: 600px;
    height: 338px;
}


.location-title {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    font-weight: 1000;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-listing:hover .location-title {
    opacity: 1;
}

.location-listing:hover .location-image img {
    filter: blur(2px);
}

/* MARANELLO */
/* .Mapa{
    margin: 0px 0px 20px 70px;
} */

/* CONTACTO */
.ContactForm{
    margin: 50px;
} 

label {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Work Sans', sans-serif; 
    font-weight: 600;
    letter-spacing: 2px;
}

.form-check{
    margin: 1rem 0 1rem 0;
}
.btn.btn-light{
    margin: 0 1rem 0 0;
}

/* INDEX RESPONSIVE */
@media screen and (max-width: 992px) {
    ul.NavBarList{
        display:flex;
        flex-direction:column;
        align-items: center;
        margin: 10% 0 10% 0;
        width: 105%;
    }
    

    .FlexIndex{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .MainIndex {
        align-content: flex-start;
    }

    .MainIndex p{
        width: auto;
        font-size: 120%;
        align-content: flex-start;
    }

    .MainIndex img{
        width: 90%;
    }
    footer{
        align-items: center;
    }
    
}

/* @media screen and (max-width: 500px) {
    .SocialNets{
        flex-direction: column;
    }
} */