.ContactForm{
    margin: 50px;
    label{
        color: white;
        font-family: 'Source Code Pro', monospace;
        font-family: 'Work Sans', sans-serif; 
        font-weight: 600;
        letter-spacing: 2px;
    }
    .form-check{
        margin: 1rem 0 1rem 0;
    }
    .btn.btn-light{
        margin: 0 1rem 0 0;
    }
}