@import "vars";

.maranellomain{
    display: flex;
    flex-direction: column;
    h2{
        margin-left: $padmarg;
    }
    h3{
        padding-left: $padmarg;

        @media screen and (max-width: 992px){
            padding-right: $padmarg;
        }
    }
    &__map{
        width:70%;
        padding-left: $padmarg;

        @media screen and (max-width: 992px){
            width: 95%;
        }
    }
    &__form {
        padding-left: $padmarg;
        padding-bottom: 1%;
        @media screen and (max-width: 992px){
            padding-right: $padmarg;
        }

        p {
            margin-left: 0;
            @media screen and (max-width: 992px){
                font-size: 1rem;
            }
        }
    }
}

